<h1 class="bg1">My WebSite</h1>

<div class="container"> 
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <h2>Login</h2>
          <form method="post" name="login" action="/login">
            <p>
              <label for="login-field"></label>
              <input class="form-control" type="text" id="username" name="username" placeholder="Username">
            </p>
            <p>
              <label for"password-login-field" ></label>
              <input class="form-control" type="password" id="password" name="password" placeholder="Password" >
            </p>
            <p>
              <button class="form-control btn-primary" id="login-button" type="send">Login</button>
            </p>
          </form>
        </div>
        <div class="col-sm-4">
          <div class="">
          <h2>Sign Up</h2>     
            <form method="post" action="/signup" name="signup">
              <p>
                <label for="username"></label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Username">
              </p>
              <p>
                <label for="email"></label>
                <input class="form-control" type="text" id="email" name="email" placeholder="E-mail">
              </p>
              <p>
                <label for="password"></label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Password">
              </p>
              <p>
                <button class="form-control btn-primary" type="submit">Register</button>
              </p>
            </form>
        </div>
    </div>
  </div>
</div>