  <h1 class="bg1">Sign Up</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <form method="post" name="signup" action="/signup" >
              <p>
                <label for="username"></label>
                <input class="form-control form-signup" type="text" id="username" name="username" placeholder="Username">
              </p>
              <p>
                <label for="email"></label>
                <input class="form-control form-signup" type="text" id="email" name="email" placeholder="E-mail">
              </p>
              <p>
                <label for="password"></label>
                <input class="form-control form-signup" type="password" id="password" name="password" placeholder="Password">
              </p>
              <p>
                <button class="form-control btn-primary form-signup" type="send">Register</button>
              </p>
            </form>
        </div>
      </div>
    </div>